<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Language="1033" Manufacturer="Acme Corporation" Name="03_PassingInstallLocationParameterToInstaller" UpgradeCode="{5903552B-DDE6-45B5-BAC6-A28208C8DF81}" Version="1.0.0.0" InstallerVersion="200"><MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="MY_PROPERTY" Value="default value" />

    

    <ComponentGroup Directory="MY_INSTALL_LOCATION" Id="ProductComponentGroup">
      <Component Id="ProductComponent">
        <File Id="FileToInstall.txt" KeyPath="yes" Source="FileToInstall.txt"></File>
      </Component>
      <Component Id="cmp_RegistryEntry">
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue KeyPath="yes" Type="string" Name="My property" Value="[MY_PROPERTY]" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <Feature Id="HelloWorldFeature">
      <ComponentGroupRef Id="ProductComponentGroup" />
    </Feature>

  
      <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="MY_INSTALL_LOCATION" Name="03_PassingInstallLocationParameterToInstaller" />
      </StandardDirectory>
    </Package>
</Wix>
