<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Language="1033" Manufacturer="Acme Corporation" Name="05_RememberPropertyPattern" UpgradeCode="{A00615FD-CB7F-49EF-9D92-E91E55511184}" Version="1.0.0.0" InstallerVersion="200"><MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <?include InstallationStages.wxi?>

    <Property Id="POWERSHELLVERSION">
      <RegistrySearch Id="POWERSHELLVERSION" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine" Name="PowerShellVersion" />
    </Property>

    <Property Id="POWERSHELLEXE">
      <RegistrySearch Id="POWERSHELLEXE" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" />
    </Property>

    <Launch Condition="Installed OR (POWERSHELLEXE AND POWERSHELLVERSION &gt;= &quot;3.0&quot;)" Message="You must have PowerShell 3.0 or higher." />

    <Property Id="MY_PROPERTY" Value="default value">
      <RegistrySearch Id="RegSearch_MY_PROPERTY" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="My property" Type="raw" />
    </Property>

    <Property Id="MY_INSTALL_LOCATION" Secure="yes">
      <RegistrySearch Id="RegSearch_MY_INSTALL_LOCATION" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="My install location" Type="raw" />
    </Property>

    

    <ComponentGroup Directory="MY_INSTALL_LOCATION" Id="ProductComponentGroup">
      <Component Id="cmp_MyAppendScript_ps1">
        <File Id="MyAppendScript.ps1" KeyPath="yes" Source="MyAppendScript.ps1"></File>
      </Component>
      <Component Id="cmp_RegistryEntry_MY_PROPERTY">
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue KeyPath="yes" Type="string" Name="My property" Value="[MY_PROPERTY]" />
        </RegistryKey>
      </Component>
      <Component Id="cmp_RegistryEntry_MY_INSTALL_LOCATION">
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue KeyPath="yes" Type="string" Name="My install location" Value="[MY_INSTALL_LOCATION]" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <SetProperty Id="CA_AppendTextUsingPowerShell_FirstInstall" Before="CA_AppendTextUsingPowerShell_FirstInstall" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[MY_INSTALL_LOCATION]MyAppendScript.ps1&quot; -installationStage FirstInstall -propertyValue &quot;[MY_PROPERTY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[MY_INSTALL_LOCATION] &quot;" />

    <SetProperty Id="CA_AppendTextUsingPowerShell_Upgrading" Before="CA_AppendTextUsingPowerShell_Upgrading" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[MY_INSTALL_LOCATION]MyAppendScript.ps1&quot; -installationStage Upgrading -propertyValue &quot;[MY_PROPERTY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[MY_INSTALL_LOCATION] &quot;" />

    <SetProperty Id="CA_AppendTextUsingPowerShell_Uninstalling" Before="CA_AppendTextUsingPowerShell_Uninstalling" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[MY_INSTALL_LOCATION]MyAppendScript.ps1&quot; -installationStage Uninstalling -propertyValue &quot;[MY_PROPERTY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[MY_INSTALL_LOCATION] &quot;" />

    <SetProperty Id="CA_AppendTextUsingPowerShell_Maintenance" Before="CA_AppendTextUsingPowerShell_Maintenance" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[MY_INSTALL_LOCATION]MyAppendScript.ps1&quot; -installationStage Maintenance -propertyValue &quot;[MY_PROPERTY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[MY_INSTALL_LOCATION] &quot;" />

    <CustomAction Id="CA_AppendTextUsingPowerShell_FirstInstall" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
    <CustomAction Id="CA_AppendTextUsingPowerShell_Upgrading" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
    <CustomAction Id="CA_AppendTextUsingPowerShell_Uninstalling" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
    <CustomAction Id="CA_AppendTextUsingPowerShell_Maintenance" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />

    <InstallExecuteSequence>
      <Custom Action="CA_AppendTextUsingPowerShell_FirstInstall" Before="InstallFinalize" Condition="FirstInstall" />
      <Custom Action="CA_AppendTextUsingPowerShell_Upgrading" Before="InstallFinalize" Condition="Upgrading" />
      <Custom Action="CA_AppendTextUsingPowerShell_Uninstalling" Before="RemoveFiles" Condition="Uninstalling" />
      <Custom Action="CA_AppendTextUsingPowerShell_Maintenance" Before="InstallFinalize" Condition="Maintenance" />
    </InstallExecuteSequence>

    <Feature Id="HelloWorldFeature">
      <ComponentGroupRef Id="ProductComponentGroup" />
    </Feature>

  
      <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="MY_INSTALL_LOCATION" Name="05_RememberPropertyPattern" />
      </StandardDirectory>
    </Package>
</Wix>
