<?include PlatformDependentVariables.wxi?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Language="1033" Manufacturer="Acme Corporation" Name="$(var.PlatformProductName)" UpgradeCode="$(var.PlatformUpgradeCode)" Version="1.0.0.0"><MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    

    <ComponentGroup Directory="INSTALLFOLDER" Id="ProductComponentGroup">
      <Component Id="cmp_FileToInstall.txt">
        <File Id="FileToInstall.txt" KeyPath="yes" Source="FileToInstall.txt" />
      </Component>
      <Component Id="cmp_my.dll">
        <?if $(var.Platform) = x64?>
          <File Id="my_x64.dll" KeyPath="yes" Source="my_x64.dll" />
        <?else?>
          <File Id="my_x86.dll" KeyPath="yes" Source="my_x86.dll" />
        <?endif?>
      </Component>
      <Component Id="cmp_RegistryEntry">
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue KeyPath="yes" Type="string" Name="Install location" Value="[INSTALLFOLDER]" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <Feature Id="HelloWorldFeature">
      <ComponentGroupRef Id="ProductComponentGroup" />
    </Feature>

  
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="02_x86_x64_Installer" />
      </Directory>
    </Package>
</Wix>
