<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Language="1033" Manufacturer="Acme Corporation" Name="08_InstallerWithMyCppCustomAction" UpgradeCode="{8A5DA406-D100-4BBA-94B6-3E1616233314}" Version="1.0.0.0" InstallerVersion="200"><MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="MY_PROPERTY" Value="default value" />

    <!-- Reference to 08_MyCppCustomAction.dll -->
    <Binary Id="CustomActions" SourceFile="$(var.08_MyCppCustomAction.TargetDir)$(var.08_MyCppCustomAction.TargetName).dll" />

    <!-- Definition of immediate custom action -->
    <CustomAction Id="MyCustomActionForReadingPropertyImmediate" Execute="immediate" DllEntry="MyImmediateCustomAction" BinaryRef="CustomActions" />

    <!-- Definition of deferred custom action -->
    <CustomAction Id="MyCustomActionForReadingPropertyDeferred" Execute="deferred" DllEntry="MyDeferredCustomAction" BinaryRef="CustomActions" />

    <!--
    This CA is passing property values to the session.CustomActionData.
    This is done by making sure that the value of the Property attribute matches the name of the custom action.
    Deferred custom actions can only access property values through CustomActionData.
    This is not needed for immediate custom actions.
    Format of CustomActionData is "Key1=Value1;Key2=Value2;..."
    -->
    <CustomAction Id="My_Type_51_CA_For_Setting_CustomActionData" Return="check" Property="MyCustomActionForReadingPropertyDeferred" Value="MY_PROPERTY=[MY_PROPERTY];MY_INSTALL_LOCATION=[MY_INSTALL_LOCATION]" />

    <!-- Scheduling execution of custom actions -->
    <InstallExecuteSequence>
      <Custom Action="My_Type_51_CA_For_Setting_CustomActionData" Before="InstallInitialize"></Custom>
      <Custom Action="MyCustomActionForReadingPropertyImmediate" Before="InstallFinalize" Condition="NOT Installed AND NOT WIX_UPGRADE_DETECTED" />
      <Custom Action="MyCustomActionForReadingPropertyDeferred" Before="InstallFinalize" Condition="NOT Installed AND NOT WIX_UPGRADE_DETECTED" />
    </InstallExecuteSequence>

    

    <ComponentGroup Directory="MY_INSTALL_LOCATION" Id="ProductComponentGroup">
      <Component Id="ProductComponent">
        <File Id="FileToInstall.txt" KeyPath="yes" Source="FileToInstall.txt"></File>
      </Component>
      <Component Id="cmp_RegistryEntry">
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue KeyPath="yes" Type="string" Name="My property" Value="[MY_PROPERTY]" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <Feature Id="HelloWorldFeature">
      <ComponentGroupRef Id="ProductComponentGroup" />
    </Feature>

  
      <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="MY_INSTALL_LOCATION" Name="08_InstallerWithMyCppCustomAction" />
      </StandardDirectory>
    </Package>
</Wix>
